body {
    background: url(https://th.bing.com/th/id/OIP.uVX-7-XZwCAbwAMBkNmJrgAAAA?pid=ImgDet&w=192&h=192&c=7&dpr=1,2);
    height: 100vh;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: rgb(230, 220, 239);
}

h1 {
    font-size: 24px;
    color: rgb(82, 15, 164);
    font-family: "Times New Roman", Times, serif;
}
h4{
    font-size: 16px;
}
#adress{
    font-size: 18px;
    color: darkred;
    font-family:'Courier New', Courier, monospace;
}
#character {
    font-family: 'Dancing Script';
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
   font-size:18px ;
   color: brown;
    font-family: 'Times New Roman', Times, serif;
}